@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwindcss-motion";

@plugin "daisyui" {
  themes: dracula --default;
}


html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

.toast_content {
    background: black !important;
    color: white !important;
    margin-top: 40px;
    margih-right: 40px;
    border: white 1px solid;
    border-radius: 25px;
}
